@charset "UTF-8";
body {
    line-height: 1.7;
    color: #432;
}


.table-nav {
    table-layout: fixed;


}
.table-nav th, td{

    margin-bottom: 50px;
    padding-right: 20px;
    padding-left: 20px;

}


